<div class="mt-4">
    <div class="container bg padding simpsons">

        <div *ngIf="!iniciarJuego" class="padding">
            <div class="p-5 mb-4  rounded-3 ">
                <div class="container-fluid py-5">
                    <h1>¿Como se llama el Simpson?</h1>
                    <p class="col-md-8 fs-4">Tenes que acertar el nombre del Simpson, demostra que sabes !!.</p>
                    <button class="btn btn-primary btn-lg" type="button" (click)="cargarTerna()">Jugar</button>
                </div>
            </div>
        </div>

        <div *ngIf="iniciarJuego" class="p-5">
            <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-6 center">
                    <h1>¿Como se llama el Simpson?</h1>

                    <div class="card" style="width:18rem;">
                        <img src="{{ personajeCorrecto.Imagen }}" class="card-img-top mt-3" alt="...">
                        <div class="card-body">
                            <!--
                            <h5 class="card-title"> {{ personajeCorrecto.Nombre }} </h5>
                        -->
                            <h6 class="card-subtitle mb-2 text-muted "> {{ personajeCorrecto.Ocupacion }} </h6>
                            <!--
                            <p class="card-text">{{ personajeCorrecto.Historia }}</p>
                        -->
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    {{ mensaje }}
                </div>
            </div>
            <div class="row  mt-4">
                <div class="col-sm-4 p-1"> <button class="btn btn-primary btn-lg" (click)="checkJugada(terna[0])">{{
                        terna[0].Nombre
                        }}</button>
                </div>
                <div class="col-sm-4p-1"> <button class="btn btn-primary btn-lg" (click)="checkJugada(terna[1])">{{
                        terna[1].Nombre
                        }}</button>
                </div>
                <div class="col-sm-4 p-1"> <button class="btn btn-primary btn-lg" (click)="checkJugada(terna[2])">{{
                        terna[2].Nombre}}</button>
                </div>
            </div>
        </div>

    </div>
</div>