/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'Alegreya';
    src: url('./assets/fonts/AlegreyaSans/AlegreyaSans-Medium.ttf');
}

@font-face {
    font-family: 'Orbitron';
    src: url('./assets/fonts/Orbitron/Orbitron-VariableFont_wght.ttf');
}